<p>
  <b>Name:</b>
  <%=h @applicant.Name %>
</p>

<p>
  <b>Address:</b>
  <%=h @applicant.Address %>
</p>

<p>
  <b>Telephonenumber:</b>
  <%=h @applicant.TelephoneNumber %>
</p>

<p>
  <b>Email:</b>
  <%=h @applicant.EMail %>
</p>

<p>
  <b>Loginname:</b>
  <%=h @applicant.LoginName %>
</p>

<p>
  <b>Password:</b>
  <%=h @applicant.Password %>
</p>

<p>
  <b>Billingaddress:</b>
  <%=h @applicant.BillingAddress %>
</p>

<p>
  <b>Shippingaddress:</b>
  <%=h @applicant.ShippingAddress %>
</p>

<p>
  <b>Creditnumber:</b>
  <%=h @applicant.CreditNumber %>
</p>

<p>
  <b>Secuirtynumber:</b>
  <%=h @applicant.SecuirtyNumber %>
</p>

<p>
  <b>Desieredposition:</b>
  <%=h @applicant.DesieredPosition %>
</p>

<p>
  <b>Currentposition:</b>
  <%=h @applicant.CurrentPosition %>
</p>

<p>
  <b>Education:</b>
  <%=h @applicant.Education %>
</p>

<p>
  <b>Experience:</b>
  <%=h @applicant.Experience %>
</p>

<p>
  <b>Notes:</b>
  <%=h @applicant.Notes %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%=h @applicant.DateOfBirth %>
</p>

<p>
  <b>Gender:</b>
  <%=h @applicant.Gender %>
</p>


<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>