<p>
  <b>Name:</b>
  <%=h @user.Name %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.Address %>
</p>

<p>
  <b>Telephonenumber:</b>
  <%=h @user.TelephoneNumber %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.EMail %>
</p>

<p>
  <b>Loginname:</b>
  <%=h @user.LoginName %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.Password %>
</p>

<p>
  <b>Levelofauthority:</b>
  <%=h @user.LevelOfAuthority %>
</p>

<p>
  <b>Type:</b>
  <%=h @user.Type %>
</p>

<p>
  <b>Jobtitle:</b>
  <%=h @user.JobTitle %>
</p>

<p>
  <b>Hiringdate:</b>
  <%=h @user.HiringDate %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>