<h1>Listing permissions</h1>

<table>
  <tr>
    <th>Permissiontype</th>
    <th>Page</th>
    <th>URL</th>
	<th>Module</th>
    <th>User</th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%=h permission.PermissionType %></td>
    <td><%=h permission.Page %></td>
    <td><%=h permission.url %></td>
	<td><%=h permission.Module %></td>
    <td><%=h permission.user_id %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New permission', new_permission_path %>