<h1>Listing orders</h1>

<table>
  <tr>
    <th nowrap>Order date</th>
    <th nowrap>Order status</th>
    <th nowrap>Total price</th>
    <th nowrap>Purchase number</th>
    <th nowrap>Shipping costs</th>
	<th nowrap>Customer Id</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td nowrap><%=h order.OrderDate %></td>
    <td nowrap><%=h order.getStatusDesc %></td>
    <td nowrap><%=h order.TotalPrice %></td>
    <td nowrap><%=h order.PurchaseNumber %></td>
    <td nowrap><%=h order.ShippingCosts %></td>
    <td nowrap><%=h order.customer_id %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>