<h1>My orders</h1>

<table>
  <tr>
    <th>Order date</th>
    <th>Order status</th>
    <th>Total price</th>
    <th>Purchase number</th>
    <th>Shipping costs</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.OrderDate %></td>
    <td><%=h order.getStatusDesc %></td>
    <td><%=h order.TotalPrice %></td>
    <td><%=h order.PurchaseNumber %></td>
    <td><%=h order.ShippingCosts %></td>
    <%if session[:loggedUser]%>
		<td><%= link_to 'Show', order %></td>
	    <td><%= link_to 'Edit', edit_order_path(order) %></td>
	    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
	<%end%>
  </tr>
<% end %>
</table>
<%if session[:loggedUser]%>
<br />

<%= link_to 'New order', new_order_path %>
<%end%>