<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :OrderDate %><br />
    <%= f.datetime_select :OrderDate %>
  </p>
  <p>
    <%= f.label :ConfimationNumber %><br />
    <%= f.text_field :ConfimationNumber %>
  </p>
  <p>
    <%= f.label :OrderStatus %><br />
    <%= f.text_field :OrderStatus %>
  </p>
  <p>
    <%= f.label :TotalPrice %><br />
    <%= f.text_field :TotalPrice %>
  </p>
  <p>
    <%= f.label :PaymentMethod %><br />
    <%= f.text_field :PaymentMethod %>
  </p>
  <p>
    <%= f.label :PurchaseNumber %><br />
    <%= f.text_field :PurchaseNumber %>
  </p>
  <p>
    <%= f.label :ShippingCosts %><br />
    <%= f.text_field :ShippingCosts %>
  </p>
  <p>
    <%= f.label :CustomerOrders %><br />
    <%= f.text_field :customer_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>