<p>
  <b>Order date:</b>
  <%=h @order.OrderDate %>
</p>

<p>
  <b>Order status:</b>
  <%=h @order.getStatusDesc() %>
</p>

<p>
  <b>Total price:</b>
  <%=h @order.TotalPrice %>
</p>

<p>
  <b>Purchase number:</b>
  <%=h @order.PurchaseNumber %>
</p>

<p>
  <b>Shipping costs:</b>
  <%=h @order.ShippingCosts %>
</p>

<p>
  <b>Customer Id:</b>
  <%=h @order.customer_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>