<h1>Listing Avaliable Jobs</h1>

<table>
  <tr>
    <th>Job Title</th>
    <th>Salary</th>
    <th>Department</th>
    <th>Description</th>
    <th>Prequisites</th>
  </tr>

<% @job_oppertunities.each do |job_oppertunity| %>
  <tr>
    <td><%=h job_oppertunity.JobTitle %></td>
    <td><%=h job_oppertunity.Salary %></td>
    <td><%=h job_oppertunity.Department %></td>
    <td><%=h job_oppertunity.Description %></td>
    <td><%=h job_oppertunity.Prequisites %></td>
	<td><%= link_to 'Show', job_oppertunity %></td>
	<% if session[:loggedUser] != nil %>
	    <td><%= link_to 'Edit', edit_job_oppertunity_path(job_oppertunity) %></td>
	    <td><%= link_to 'Destroy', job_oppertunity, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if session[:loggedUser] != nil %>
	<%= link_to 'New Job Oppertunity', new_job_oppertunity_path %>
<% end %>