<p>
  <b>Job Title:</b>
  <%=h @job_oppertunity.JobTitle %>
</p>

<p>
  <b>Salary:</b>
  <%=h @job_oppertunity.Salary %>
</p>

<p>
  <b>Department:</b>
  <%=h @job_oppertunity.Department %>
</p>

<p>
  <b>Description:</b>
  <%=h @job_oppertunity.Description %>
</p>

<p>
  <b>Prequisites:</b>
  <%=h @job_oppertunity.Prequisites %>
</p>

<% if session[:loggedUser] != nil %>
	<%= link_to 'Edit', edit_job_oppertunity_path(@job_oppertunity) %> | 
<% end %>
<%= link_to 'Back', job_oppertunities_path %>