<h1>Applications</h1>

<table>
  <tr>
    <th>Applicant</th>
    <th>Job oppertunity</th>
    <th>Sendingdate</th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%=h application.applicant.Name %></td>
    <td><%=h application.job_oppertunity.JobTitle %></td>
    <td><%=h application.SendingDate %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Destroy', application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />