<p>
  <b>Applicant:</b>
  <%=h @application.applicant_id %>
</p>

<p>
  <b>Job oppertunity:</b>
  <%=h @application.job_oppertunity_id %>
</p>

<p>
  <b>Sendingdate:</b>
  <%=h @application.SendingDate %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>