<h1>Listing keywords</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Product</th>
	<th>Product Model</th>
  </tr>

<% @keywords.each do |keyword| %>
  <tr>
    <td><%=h keyword.Word %></td>
    <td>
	  <%if keyword.product != nil %>
		  <%=h keyword.product.Name %>
	  <%end%>
	</td>
    <td>
	  <%if keyword.product_model != nil %>
		  <%=h keyword.product_model.Name %> 
	  <%end%>
  	</td>
    <td><%= link_to 'Show', keyword %></td>
    <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
    <td><%= link_to 'Destroy', keyword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New keyword', new_keyword_path %>