<h1>Editing permission</h1>

<% form_for(@permission) do |f| %>
  <%= f.error_messages %>

  <p>  	
    <%= f.label :PermissionType %><br />
    <%= f.select :PermissionType, [['Access', 'Access'], ['Modify', 'Modify']] %>
  </p>
  <p>
    <%= f.label :Page %><br />
	<%= f.select :Page, 
			[
				'Jobs', 
				'Applicants',
				'Applications',
				'Categories',
				'Products',
				'Product Models',
				'Searching Key Words',
				'Orders',
				'Customers',
				'Permissions',
				'Users'
			] 
	%>
  </p>
  <p>
    <%= f.label :URL %><br />
	<%= f.select :url, 
			[
				['Jobs', '/job_oppertunities'], 
				['Applicants','/applicants'],
				['Applications','/applications'],
				['Categories','/categories'],
				['Products','/products'],
				['Product Models','/product_models'],
				['Searching Key Words','/keywords'],
				['Orders','/orders'],
				['Customers','/customers'],
				['Permissions','/permissions'],
				['Users','/users']
			] 
	%>
  </p>
  <p>
    <%= f.label :Module %><br />
	<%= f.select :Module, 
			[
				['Administration', 'Admin'], 
				['Human Resources','HR'],
				['Orders Management','Orders'],
				['Sales','Sales']
			] 
	%>
  </p>
  <p>
    <%= f.label :user_id %><br />
	<%= f.select :user_id , User.find(:all , :order => "Name").collect { |c|
		[c.Name , c.id]}%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @permission %> |
<%= link_to 'Back', permissions_path %>