<h1>New applicant</h1>

<% form_for(@applicant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </p>
  <p>
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </p>
  <p>
    <%= f.label :TelephoneNumber %><br />
    <%= f.text_field :TelephoneNumber %>
  </p>
  <p>
    <%= f.label :EMail %><br />
    <%= f.text_field :EMail %>
  </p>
  <p>
    <%= f.label :LoginName %><br />
    <%= f.text_field :LoginName %>
  </p>
  <p>
    <%= f.label :Password %><br />
    <%= f.text_field :Password %>
  </p>
  <p>
    <%= f.label :BillingAddress %><br />
    <%= f.text_field :BillingAddress %>
  </p>
  <p>
    <%= f.label :ShippingAddress %><br />
    <%= f.text_field :ShippingAddress %>
  </p>
  <p>
    <%= f.label :CreditNumber %><br />
    <%= f.text_field :CreditNumber %>
  </p>
  <p>
    <%= f.label :SecuirtyNumber %><br />
    <%= f.text_field :SecuirtyNumber %>
  </p>
  <p>
    <%= f.label :DesieredPosition %><br />
    <%= f.text_field :DesieredPosition %>
  </p>
  <p>
    <%= f.label :CurrentPosition %><br />
    <%= f.text_field :CurrentPosition %>
  </p>
  <p>
    <%= f.label :Education %><br />
    <%= f.text_field :Education %>
  </p>
  <p>
    <%= f.label :Experience %><br />
    <%= f.text_area :Experience %>
  </p>
  <p>
    <%= f.label :Notes %><br />
    <%= f.text_area :Notes %>
  </p>
  <p>
    <%= f.label :DateOfBirth %><br />
    <%= f.date_select :DateOfBirth %>
  </p>
  <p>
    <%= f.label :Gender %><br />
    <%= f.text_field :Gender %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', applicants_path %>