<h1>Editing category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Code %><br />
    <%= f.text_field :Code %>
  </p>
  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>